<!DOCTYPE html>
<html>
    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <title>Best Restaurants</title>
    </head>
    <body>
        <div class="container">
            <h1>{{ cuisine.getType }}</h1>


            {% if restaurants is not empty %}
            <ul>
                {% for restaurant in restaurants %}
                <li>{{ restaurant.getName }}</li>
                    <ul>
                        {% if restaurant.getPrice == 1 %}
                            <li>$</li>
                            {% elseif restaurant.getPrice == 2 %}
                            <li>$$</li>
                            {% elseif restaurant.getPrice == 3 %}
                            <li>$$$</li>
                            {% else %}
                            <li>$$$$</li>
                        {% endif %}
                        <li>{{ restaurant.getQuadrant }}</li>
                    </ul>
                {% endfor %}
            {% endif %}

                    <form id="restaurant_form" action="/restaurants" method="post">
                        <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">

                        <div class="form-group">
                            <label for="name">Restaurant Name</label><br>
                            <input class="form-control" id="name" type="text" name="name" required>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="price" value=1 checked>$
                            </label>
                            <label>
                                <input type="radio" name="price" value=2>$$
                            </label>
                            <label>
                                <input type="radio" name="price" value=3>$$$
                            </label>
                            <label>
                                <input type="radio" name="price" value=4>$$$$
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="quadrant">Neighborhood</label><br>
                            <select name="quadrant">
                                <option name="quadrant" value="N">N</option>
                                <option name="quadrant" value="NE">NE</option>
                                <option name="quadrant" value="NW">NW</option>
                                <option name="quadrant" value="SE">SE</option>
                                <option name="quadrant" value="SW">SW</option>
                            </select>
                        </div>
                        <button class="btn btn-info" type="submit">Add Restaurant!</button>
                    </form>
                    <br>
                    <form action="/delete_restaurants" method="post">
                        <button class="btn" type="submit">Delete All Restaurants</button>
                    </form>
                    <br>

                    <h5><a href="/">Add</a> another Cuisine!</h5>

        </div>

    </body>
</html>
