<!DOCTYPE html>
<html>
    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <title>All Cuisines</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Restaurant Sorter</h1>
                <h3>All Cuisines</h3>
            </div>
            {% if cuisines is not empty %}
            <ul>
                {% for cuisine in cuisines %}
                <li>{{ cuisine.getType }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <form action="/delete_cuisines" method="post">
                <button class="btn" type="submit">Delete All Cuisines</button>
            </form>
            <br>
            <h4><a href="/">Click here</a> to go add another</h4>
        </div>
    </body>
    </body>
</html>
