<!DOCTYPE html>
<html>
    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <title>Best Restaurants</title>
    </head>
    <body>
        <div class="container">
            
        </div>

    </body>
</html>
